.bloop
.metals
.idea
project/.bloop
target
*.class
.DS_STORE

src/main/resources/application.conf
app-assembly.jar
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
